# Ignorar arquivos gerados
*.json
*.png

# Ambiente virtual e dependências locais
.venv/
__pycache__/
*.pyc

# Arquivos e pastas do Replit
.replit
.replit.nix
*.sqlite3

# IDEs e editores
.vscode/
*.swp
.DS_Store